<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"  type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{#    <script src='{% static 'js/index-modal.js' %}'></script>#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index-modal.css' %}" />
    <title>Title</title>
        {% block header %}
        {% endblock %}
    <style>
        body{
            font-family: "Helvetica Neue", Helvetica, Arial, 맑은 고딕,"malgun gothic", sans-serif;
            margin:10px
        }
        #grid_title{
            border-top:2px solid;
            display:grid;
            grid-template-columns: 150px 1fr;
            margin:0px;
            }
        #menu_bars {
            border-right:2px solid;
            margin:0;
            padding:20px;
            :;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div>
            <h1>홈페이지!사용자ID:{{ email }}</h1>
        </div>
        <div id='grid_title'>
            <div id="menu_bars">
                <button class="btn btn-primary btn-block" onclick="location.href='/regist_dx'">진단명등록</button>
                <button class="btn btn-danger btn-block" onclick="location.href='/dxlist'">진단명조회</button>
                <button class="btn btn-success btn-block" onclick="location.href='#'">진단명컨펌</button>
                <button class="btn btn-success btn-block" onclick="location.href='/dxlistquery'">세부조회</button>
                <button class="btn btn-success btn-block" onclick="location.href='/dx_update/1'">환자수정</button>
                <button class="btn btn-primary btn-block" onclick="location.href='/ptregist'">환자등록</button>
                <button class="btn btn-primary btn-block" onclick="location.href='/dr_register'">의사등록</button>
                <button class="btn btn-primary btn-block" onclick="location.href='/books'">Books</button>
                <button class="btn btn-primary btn-block" onclick="location.href='/dx2'">dx2</button>
                <button class="btn btn-primary btn-block" onclick="location.href='/db_import'">DB불러오기</button>
            </div>
            <div class="col-12">
            {% block contents %}
            {% endblock %}
            </div>
         </div>
    </div>
</body>
</html>