{% extends "base.html" %}
{% load widget_tweaks %}
{% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Document</title>
{% endblock %}
{% block contents %}
    <h2 class="page-header">환자 조회 및 등록, 수정</h2>
    <p>
        <button type="button" class="btn btn-primary js-create-patient" data-url="{% url 'dx2_create' %}">
            <span class="glyphicon glyphicon-plus" style="font-size:1.2rem">
            <strong>+ </strong>New Patient</span>
        </button>
    </p>
    <table class="table" id="book-table">
        <thead>
        <tr>
            <th>#</th>
            <th>unitN</th>
            <th>Name</th>
            <th>Birth</th>
            <th>DxDate</th>
            <th>DxAge</th>
            <th>Dx0</th>
            <th>Dx1</th>
            <th>Dx2</th>
        </tr>
        </thead>
        <tbody id="main_tbody">
        {% include './partial_dx2_list.html' %}
        </tbody>
    </table>
    <div class="modal-wrapper-create" style="display: none;">
        <div class="modal_create">
            {#            <div class="modal-title">안녕하세요</div>#}
            {#                <p>모달 내용은667788 어쩌고 저쩌고</p>#}
            <div id="response_html_create"></div>
            <div class="close-wrapper">
                <button id="close" class="btn_close">닫기</button>
            </div>
        </div>
    </div>

    <div class="modal-wrapper-update" style="display: none;">
        <div class="modal_update" >
            <div id="response_html_update"></div>
            <div class="close-wrapper">
                <button id="close" class="btn_close">닫기</button>
            </div>
        </div>
    </div>

    <script src='{% static 'js/index-modal.js' %}'></script>
    <script>
        {#const qs = require('qs');#}
        const modal_wrapper_create = document.querySelector('.modal-wrapper-create');
        const modal_wrapper_update = document.querySelector('.modal-wrapper-update');
        const modal_div  = document.getElementById('response_html_create');

        function dismiss_modal(){
            modal_wrapper_create.style.display = 'none';
            modal_wrapper_update.style.display = 'none';
        }

        function render_list(html_form){
            const render_area = document.getElementById('main_tbody');
            render_area.innerHTML = html_form
        }

        function render_form_create(html_form){
            modal_wrapper_create.style.display = 'flex';
            const render_area = document.getElementById('response_html_create');
            render_area.innerHTML = html_form
        }

        function render_form_update(html_form){
            modal_wrapper_update.style.display = 'flex';
            const render_area = document.getElementById('response_html_update');
            render_area.innerHTML = html_form
        }

        async function loadform(btn_url) {
            try{
                const btn_url = this.getAttribute('data-url');
                console.log(btn_url);
                const res = await axios.get(btn_url,
                );
                console.log('this is load form js function!!');
                render_form_create(res.data.html_form);
                unitnumb = document.getElementById('id_unitnumb');
                console.log(unitnumb.getAttribute('name'));
                {#console.log(res.data.html_form);#}

                const btnCreatePt = document.getElementById('btn_create_pt');
                console.log(btnCreatePt);
                btnCreatePt.addEventListener('click', event=>{
                    event.preventDefault();
                    event.stopPropagation();
                    console.log('this is event listener');
                    saveform();
                }, false);

                console.log('load function was successful lastly.');

                return null;

            } catch {
                console.log('this is error');
                return null;
            }

        }

        async function loadupdateform(event) {
            console.log('this is load update function');
            const btn_url = this.getAttribute('data-url');
            console.log('this is btn_url', btn_url);
            try{
                console.log('this is load update function2');
                const res = await axios.get(btn_url,
                );
              console.log('success!!');
                render_form_update(res.data.html_form);
                {#let modal2 = document.getElementsByClassName('modal2');#}
                {#modal2.style.width = 500+ "px";#}
                {#modal2.width = 500 + 'px';#}
                {#console.log('this is modal2', modal2);#}
                unitnumb = document.getElementById('id_unitnumb');
                console.log(unitnumb.getAttribute('name'));
                {#console.log(res.data.html_form);#}

                const iddxcode_0_Element = document.getElementById("id_dxcode_0");
                const iddxcode_1_Element = document.getElementById("id_dxcode_1");
                const iddxcode_2_Element = document.getElementById("id_dxcode_2");
                iddxcode_0_Element.addEventListener('change',loaddx_1,false);
                iddxcode_1_Element.addEventListener('change',loaddx_2,false);

                const btnUpdatePt = document.getElementById('btn_update_pt');
                console.log('this is btnupdatept', btnUpdatePt);
                btnUpdatePt.addEventListener('click', event=>{
                    event.preventDefault();
                    event.stopPropagation();
                    console.log('this is event listener');
                    saveupdateform();
                }, false);
                console.log('this is end of load update function');

                return null;

            } catch {
                console.log('this is error');
                return null;
            }

        }

        const saveForm = function () {
            var form = $(this);
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    alert("response arrived");
                    alert(data.form_is_valid);
                    if (data.form_is_valid) {
                        alert("Successful");  // <-- This is just a placeholder for now for testing
                        render_list(data.html_book_list);
                        dismiss_modal();
                    }
                    else {
                        alert("failure");
                        console.log(data);
                        render_form_create(data.html_form);
                    }
                }
            });
            return false;
        };
        {#$("#response_html").on("submit", ".js-book-create-form", saveForm);#}

        function saveupdateform() {
            console.log('this is saveupdate function.');
            const params = new URLSearchParams();
            const form1 = document.querySelector('.js-book-update-form');
            const form_url = form1.getAttribute('action');
            console.log('url is', form_url);
            console.log('saveform axios was clicked!');
            {#console.log(form1.attributes);#}

            const unitnumbElement = document.getElementById('id_unitnumb');
            const dx_dateElement = document.getElementById('id_dx_date');
            const dxcode_0_Element = document.getElementById("id_dxcode_0");
            const dxcode_1_Element = document.getElementById("id_dxcode_1");
            const dxcode_2_Element = document.getElementById("id_dxcode_2");
            const dxcode_3_Element = document.getElementById("id_dxcode_3");
            const regist_user_Element = document.getElementById("id_regist_user");
            const unitnumb = unitnumbElement.value;
            const dx_date = dx_dateElement.value;
            const dxcode_0 = dxcode_0_Element.value;
            const dxcode_1 = dxcode_1_Element.value;
            const dxcode_2 = dxcode_2_Element.value;
            const dxcode_3 = dxcode_3_Element.value;
            const regist_user = regist_user_Element.value;

            console.log('this is unitnumb', unitnumb);
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';

            params.append('unitnumb', unitnumb);
            params.append('dx_date', dx_date);
            params.append('dxcode_0', dxcode_0);
            params.append('dxcode_1', dxcode_1);
            params.append('dxcode_2', dxcode_2);
            params.append('dxcode_3', dxcode_3);
            params.append('regist_user', regist_user);

            console.log('parameters are', params);

            async function trial() {
                try {
                    const resp = await axios({
                        method: 'post',
                        headers: {'Content-type': 'application/x-www-form-urlencoded'},
                        url: form_url,
                        data: params
                    });
                    console.log(resp.data);
                    console.log('request was successful');
                    console.log(resp.data.form_is_valid);
                    if (resp.data.form_is_valid) {
                        alert('Created!!')
                        render_list(resp.data.html_book_list);
                    } else {
                        render_form_update(resp.data.html_form);
                    }
                } catch {
                    console.log('axios post failed.');
                }
            }

            trial()
            dismiss_modal();
            return false;
        }

        function saveform() {
            const params = new URLSearchParams();
            const form1 = document.querySelector('.js-book-create-form')
            const form_url = form1.getAttribute('action')
            console.log('url is', form_url);
            console.log('saveform axios was clicked!');
            {#console.log(form1.attributes);#}

            const unitnumbElement = document.getElementById('id_unitnumb');
            const unitnumb = unitnumbElement.value;
            const ptnameElement = document.getElementById('id_ptname');
            const ptname = ptnameElement.value;
            const birthdateElement = document.getElementById('id_birthdate');
            const birthdate = birthdateElement.value;

            console.log('this is unitnumb', unitnumb);
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';
            let form = new FormData();
            params.append('unitnumb', unitnumb);
            params.append('ptname', ptname);
            params.append('birthdate', birthdate);
            console.log(params);

            async function trial() {
                try {
                    const resp = await axios({
                        method: 'post',
                        headers: {'Content-type': 'application/x-www-form-urlencoded'},
                        url: form_url,
                        data: params
                    });
                    console.log(resp.data);
                    {#console.log(JSON.stringify(resp,null,2));#}
                    console.log('request was successful');
                    console.log(resp.data.form_is_valid);
                    if (resp.data.form_is_valid) {
                        alert('Created!!')
                        render_list(resp.data.html_book_list);
                    } else {
                        render_form_create(resp.data.html_form);
                    }
                } catch {
                    console.log('axios post failed.');
                }
            }

            trial();
            dismiss_modal();
            return false;

            {##}
            {#try{console.log('1st');#}
            {#    const resp = await axios.post(form_url,{#}
            {#        headers: { 'Content-type': 'application/json', },#}
            {#        });#}
            {##}
            {#    console.log('2nd');#}
            {#    console.log(resp.data)#}
            {#    console.log('this is resdata', resp.data.form_is_valid);#}
            {#    console.log('this is reshtmlbooklist', resp.data.html_book_list);#}
            {#    result = resp.data;#}
            {#    console.log(result);#}
            {#    if (result.form_is_valid) {#}
            {#        alert('success');#}
            {#$('#book-table tbody').html(result.html_book_list);#}
            {#$('#modal-book').modal("hide");#}
            {#    }#}
            {#    else {#}
            {#        alert('failure');#}
            {#    }#}
            {#    alert("response arrived");#}
            {##}
            {##}
            {#    }catch {#}
            {#        alert('failure24');#}
            {#    }#}

        }

        async function loaddx_1() {
            const update_form = document.querySelector(".js-book-update-form");
            const update_url = update_form.getAttribute('data-dx-url');
            const params = new URLSearchParams();
            const iddxcode_0_Element = document.getElementById("id_dxcode_0");
            const iddxcode_1_Element = document.getElementById("id_dxcode_1");
            const iddxcode_2_Element = document.getElementById("id_dxcode_2");
            const iddxcode_0 = iddxcode_0_Element.value;
            params.append('dxcode_0', iddxcode_0);
            console.log(params);
            console.log(iddxcode_0);
            try {
                const res = await axios({
                    method: 'get',
                    url: update_url,
                    params: params
                });
                console.log(res.data)
                iddxcode_1_Element.innerHTML = res.data;
                iddxcode_2_Element.innerHTML = "<option>-----------</option>"
                console.log('the end of loaddx_1 success.')
            } catch {
                console.log('failed')
            }
        }

        async function loaddx_2() {
            const update_form = document.querySelector(".js-book-update-form");
            const update_url = update_form.getAttribute('data-dx-url');
            const params = new URLSearchParams();
            const iddxcode_0_Element = document.getElementById("id_dxcode_0");
            const iddxcode_1_Element = document.getElementById("id_dxcode_1");
            const iddxcode_2_Element = document.getElementById("id_dxcode_2");
            const iddxcode_1 = iddxcode_1_Element.value;
            params.append('dxcode_1', iddxcode_1);
            console.log(params);
            console.log(iddxcode_1);
            try {
                const res = await axios({
                    method: 'get',
                    url: update_url,
                    params: params
                });
                console.log(res.data)
                iddxcode_2_Element.innerHTML = res.data;
                console.log('the end of loaddx_2 success.')
            } catch {
                console.log('failed')
            }
        }

        function loaddx() {
            const update_form = document.querySelector(".js-book-update-form");
            {#const iddxcode_0_Element = document.getElementById("id_dxcode_0");#}
            {#const iddxcode_1_Element = document.getElementById("id_dxcode_1");#}
            {#const iddxcode_2_Element = document.getElementById("id_dxcode_2");#}
            const update_url = update_form.getAttribute('data-dx-url');
            const params = new URLSearchParams();
            {#const iddxcode_0 = iddxcode_0_Element.value;#}
            {#const iddxcode_1 = iddxcode_1_Element.value;#}
            const iddxcode_2 = iddxcode_2_Element.value;

            iddxcode_0_input.addEventListener('change', loaddx_1);
            params.append('iddxcode_0', iddxcode_0);
            params.append('iddxcode_1', iddxcode_1);
            {#params.append('birthdate',birthdate);#}

            async function loaddx_1() {
                const iddxcode_0 = iddxcode_0_Element.value;
                params.append('iddxcode_0', iddxcode_0);
                try {
                    const res = await axios({
                        method: 'get',
                        url: update_url,
                        data: params
                    })
                    iddxcode_1_Element.innerHTML = res.data;
                    iddxcode_2_Element.innerHTML = "<option>-----------</option>"
                } catch {
                    console.log('failed')
                }
            }

        }



        function bindCreatePtButton(){
            const btnCreatePt = document.querySelector('.js-create-patient');
            console.log(btnCreatePt);
            const btn_url = btnCreatePt.getAttribute('data-url');
            console.log(btn_url);
            btnCreatePt.addEventListener('click', loadform);
        }

        {#function bindUpdatePtButton(){#}
        {#    const btnUpdatePts = document.getElementsByClassName('js-update-patient');#}
        {#    for (let i=0; i < btnUpdatePts.length; i++){#}
        {#        btnUpdatePts[i].addEventListener('click', loadform, false);#}
        {#    }#}
        {#}#}
            $("#book-table").on("click", ".js-update-patient", loadupdateform)
        {#    $("#response_html_update").on("submit", ".js-book-update-form", saveform);#}

            function main(){
                bindCreatePtButton();
                console.log('hello this is ds2html');
            }
            document.addEventListener('DOMContentLoaded', main);

    </script>
{% endblock %}