{% extends "base.html" %}
{% block header %}

{% endblock %}

{% block contents %}

{% load widget_tweaks %}



<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>환자등록</h1>
        </div>
    </div>
        <div class="row mt-5">
        <div class="col-12 text-center">
            {{ error }}
        </div>
    </div>
{#      <input id="datepicker">#}
        <div class="row mt-5">
        <div class="col-12">
            <form method="POST" class="form-control" action=".">
                {% csrf_token %}
                {{ form.birthdate|attr:"autocomplete:off"|add_class:"form-control" }}
                {{ form.ptname|add_class:"form-control" }}
{#                {% for field in form %}#}
{#                <div class="form-group">#}
{#                    <label for="{{field.id_for_label}}">{{ field.label }}</label>#}
{#                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{field.id_for_label}}" placeholder="{{ field.label }}" name="{{ field.name}}" />#}
{#                </div>#}
{#                {% if field.errors %}#}
{#                <span style="color:red">{{ field.errors }}</span>#}
{#                {% endif %}#}
{#                {% endfor %}#}
               <button type="submit" class="btn btn-primary">환자등록</button>
            </form>
        </div>
    </div>
</div>
{#      <input id="datepicker" autocomplete="off">#}


{{ form.media }}
{% endblock %}
{% block script %}

{% endblock %}
